<div class="wrapper">
  <h1>Angular Router App</h1>
  <!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
  <nav class="nav">
    <div>
      <a class="first-btn" routerLink="/first-component">First Component</a>
    </div>
    <div>
      <a class="second-btn" routerLink="/second-component">Second Component</a>
    </div>
  </nav>
  <!-- The routed views render in the <router-outlet>-->
  <div
    class="container"
    [@routeAnimations]="prepareRoute(outlet)"
    (@routeAnimations.start)="aniStart($event)"
    (@routeAnimations.done)="aniEnd($event)"
  >
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
